@font-face {
    font-family: UTMAvo;
    src: url("UTM Avo.ttf");
}
body{
    font-family: UTMAvo;
    font-size: 14px;
    background-color: #ced4da;
}
a:hover{
    text-decoration: none;
}
.bg1{
    background: #2E383F
}
.bg2{
    background: #F9A828;
}
#top{
    padding: 8px 0;
}
.bg-white{
    background-color: rgba(46, 56, 63, 0.96) !important;
    color: #fff;
}
.bg-top{
    background: rgb(255, 255, 255);
    color: rgba(46, 56, 63, 0.96);
    height: 100%;
}

.bg-top h5 {
    background: rgba(46, 56, 63, 0.96);
    padding: 10px;
}
.bg-top2{
    background: rgb(92, 123, 249);
    color: #fff;
    height: 100%;
}

.bg-top2 h5{
    padding: 10px;
    background: rgba(46, 56, 63, 0.96);
}
.bg-white hr{
    border-color: #fff;
}
.bg-white h5,
.bg-white h4{
    text-transform: uppercase;
    font-weight: bold;
}
.bg-wallpaper{
    background: url("../images/bg.jpg");
    background-size: contain;
    background-attachment: fixed;
    padding: 40px 0;
}
.login {
    background-color: #8EC926;
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.register {
    background-color: #F9A828;
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    width: 100%;

}
.facebook {
    background-color: #3b5998;
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: #fff;

}
.member-info{
    border: 1px dashed #F9A828;
    padding: 8px;
    margin-top: 10px;
    border-radius: 3px;
}
#top-nav{
    height: 135px;
}
@media (max-width: 576px) {
    #top-nav{
        height: 235px;
    }
}

#top-nav #logo{
    margin: 20px 0;
    height: 50px;
}
#top-nav ul{
    list-style: none;
    padding: 0;
}
#top-nav ul li{
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
    padding: 4px 5px;
    border-radius: 3px;
}
#top-nav ul li:hover{
    background: #F9A828;
    color: #fff;
}
#top-nav ul li a{
    color: #fff;
    font-weight: bold;
}

#top-nav .tutorial{
    border: 1px dashed #F9A828;
    padding: 4px 5px;
    border-radius: 3px;
}
#rate{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: #2E383F;
    padding: 3px 0;
    color: #F9A828;
    font-weight: bold;
    box-shadow: 1px 1px 2px #cdcdcd;
}
#home-icon{
    padding: 40px 0;
}
#home-icon .icon{
    border-radius: 10px;
}
.footer{
    background: #2E383F;
    color: #fff;
    margin-bottom: 1em;
    padding: 20px 0;
}
.bl-1{
    border-left: 1px solid #cdcdcd;
}
.text-content img{
    max-width: 100%;
}