a:hover{
    text-decoration: none;
}
#top{
    background: #373737;
    color: #fff;
    padding: 2px 0;
}
.bg-topbar{
    background: #00918d;
}
.img-logo{
    max-height: 80px;
}
#menu{
    background: #F8CE4F;
}
#menu ul{
    list-style: none;
    padding: 0;
}
#menu ul li{
    float: left;
    margin-right: 40px;
    padding: 3px 0;
}
#menu ul li a{
    text-transform: uppercase;
    color: #373737;
}
.bg-brow{
    background: #f0f0f0;
}
footer{
    background: #373737;
    padding: 20px 0;
    color: #fff;
}

footer hr{
    border-color: #fff;
}
footer a{
    color: #fff;
}