@font-face{
    font-family: "UTM Avo";
    src: url("../font/UTM Avo.ttf");
}
body{
    font-family: "UTM Avo";
    font-size: 14px;
    background-color: #cedfeb;
}
.bg1{
    background-color: #0398ef;
}
.bg2{
    background-color: #fadc63;
}
.color1{
    color: #fadc63;
}
.btn-primary{
    background-color: #0398ef;
}
a:hover{
    transition: 0.5s all;
    text-decoration: none;
}
#top{
    padding: 20px 0 5px;
}
#top .btn-register{
    border-radius: 30px;
    padding: 5px 15px;
    background-color: #fadc63;
    color: #1d2124;
    text-transform: uppercase;
}
#top ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
#top ul li{

}
#top ul li a{
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 1.1em;
}

#top ul li a:hover{
    color: #fadc63;
}
#notice{
    background-color: #0386db;
    color: #fadc63;
    font-weight: bold;
}
#intro .form-login{
    background-color: #fff;
    padding: 28px 10px;
}
.discount-viettel{
    background-color: #00918d;
    color: #fff;
    padding: 3px 10px;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 5px;
    border-radius: 5px 0 0 5px;
}
.discount-vinaphone{
    background-color: #02A1E4;
    color: #fff;
    padding: 3px 10px;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 5px;
}
.discount-mobiphone{
    background-color: #DA261C;
    color: #fff;
    padding: 3px 10px;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 5px;
    border-radius: 0 5px 5px 0;
}


.bg-price{
    background-color: #e1e7ed;
    height: 75px;
    padding-top: 15px;
    font-weight: bold;
    border-radius: 3px;
    color: #02A1E4;
    margin-bottom: 10px;
}
.bg-price-has{
    background-color: rgba(255, 57, 0, 0.36);
    height: 75px;
    padding-top: 15px;
    font-weight: bold;
    border-radius: 3px;
    color: #02A1E4;
    margin-bottom: 10px;
}

.bg-price:hover{
    background-color: #02A1E4;
    color: #fff;
}
.bg-price i{
    font-size: 1.3em;
    font-style: normal;
}
.bg-price span{
    font-size: 0.9em;
}
.balance span{
    border-radius: 5px;
    background-color: #fadc63;
    color: #1d2124;
    padding: 3px 10px;
}
.partner img{
    max-height: 59px;
    margin: 2px 5px;
    border-radius: 3px;
    border: 2px solid #fff;
}
.footer{
    background-color: #424242;
    color: #fff;
    padding: 20px 0;
}
.footer hr{
    border-color: #fff;
}
.footer a{
    color: #fff;
}
.footer a:hover{
    margin-left: 5px;
    color: #fadc63;
}


/* Dashboard*/

#dashboard a{
    color: #1b1e21;
}
#dashboard .dashboard-icon:hover{
    background-color: #0386db;
    color: #fff;
}
#dashboard .dashboard-icon{
    border-radius: 3px;
    text-align: center;
    padding: 25px 0;
    background-color: #fff;
    margin-bottom: 15px;
}
#dashboard .dashboard-icon i{
    font-size: 80px;
    margin-bottom: 20px;
}
#dashboard .dashboard-icon h5{
    text-transform: uppercase;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0 !important;
    background: transparent;
}
.dataTables_wrapper:hover{
    background: transparent;
}
.dataTables_wrapper .dataTables_paginate{
    background: transparent;
}
